.card{
    border: 1px solid red;
    width: 550px;
    height: auto;
    margin: 10px 7%;
}

.card img {
  width: 400px;
  height: auto;
  margin: 0 15%;
}

.card .card-title {
  color: red;
  font-size: 24px;
  font-weight: bold;
  margin: 0 15%;

}

.card .card-description {
  color: #333;
  font-size: 16px;
  margin: 10px 15%;
  text-align: justify;
}

.card h3 {
  color: rgb(0, 162, 255);
  font-weight: bold;
  margin: 10px 15%;
}

.card .buttoni {
  text-decoration: none;
  color: #00b7ff;
  border: 1px solid #00b7ff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
    margin: 10px 15%;
}

.card-detajet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}