.produkti {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.product {
  border: 1px solid #e0e0e0;
  padding: 16px;
  background: #fff;
  width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}


.titulli{
  color: red;
}

.buttoni {
  text-decoration: none;
  color: #00b7ff;
  border: 1px solid #00b7ff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.buttoni:hover {
  background-color: #00b7ff;
  color: #fff;
}

.price {
  color: rgb(0, 162, 255);
  font-weight: bold;
  margin-top: 8px;
}

.product-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.product-details h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}
.product-details p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  text-align: center;
  line-height: 1.4;
  text-align: justify;
}

.product-details .price {
  font-size: 1.1rem;
  color: #00b7ff;
  font-weight: bold;
}


.product-details .buttoni {
  margin-top: 12px;
}

.product-details img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-details img:hover {
  transform: scale(1.05);
}